{% extends 'flatpages/default.html' %}

{% block title %}
    Desk
{% endblock title %}

{% block load %}
    {% load static %}
    {% load custom_filters %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
{% endblock load %}

{% block content %}
    {% if post %}
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>{{ post.title }}</h2>
                    <h3>{{ post.created_at|date:'d.m.Y'  }}</h3>
                    <p>{{ post.author.username }} - {{ post.author.first_name }}</p>
                    {{ post.content | safe }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}


