{% extends 'flatpages/default.html' %}
{% block title %}
    Sign In Code
{% endblock title %}

{% block load %}
    {% load static %}
    {% load custom_filters %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
{% endblock load %}

{% block content %}
    <div class="container" style="background-color: lightcyan; max-width: null">
        <h2 class="mb-5 mt-5">На вашу почту отпроавлен одноразовый пароль</h2>
        <form method="post">
            {% csrf_token %}
          <div class="form-group mb-5 mt-5">
            <label for="username">Логин</label>
            <input name="username" type="text" class="form-control" id="username" placeholder="Логин">
          </div>
          <div class="form-group mb-5">
            <label for="code">Код</label>
            <input name="code" type="text" class="form-control" id="code" placeholder="Код">
          </div>
          <button type="submit" class="btn btn-primary mb-5">Подтвердить код</button>
        </form>
    </div>
{% endblock content %}